<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        div{
            padding: 5px;
        }
        .loading {
            height: 100%;
            width: 100%;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: rgba(0,0,0, 0.6);
            overflow-x: hidden;
        }
        p.loading{
            margin-top: 25% !important;
            background: white;
            width: 250px;
            height: 115px;
            padding: 15px;
            border-radius: 5px;
            margin-left: 40%;
        }
        a.nav-link{
            color:white;
            border-right: 1px solid white;
        }
        a.nav-link:hover{
            background-color: #358ba2;
        }
        #local-masthead {

            background-image:-webkit-linear-gradient(left, #2d5470fc, #358ba2);
            background-image: -moz-linear-gradient(left, #2d5470fc, #358ba2);
            background-image: -ms-linear-gradient(left, #2d5470fc, #358ba2);
            background-image: -o-linear-gradient(left, #2d5470fc, #358ba2);
            background-image: linear-gradient(left,#2d5470fc, #358ba2);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#2d5470fc', EndColorStr='#358ba2'); /* IE6/7 */
            -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorStr='#2d5470fc', EndColorStr='#358ba2')"; /* IE8*/
        }


    </style>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js"></script>
    <script type="text/javascript" src="javascript/reaction.js?v=1"></script>
    <script type='application/javascript' src="javascript/Biojs.js"></script>
    <script type='application/javascript' src="javascript/Biojs.ChEBICompound.js"></script>
    <script type='application/javascript' src="javascript/jquery-1.9.1.min.js"></script>

    <div id="local-masthead"  class="container-fluid" >
        <a class="navbar-header text-decoration-none" href="/reactions" style="padding: 2.5rem 1rem; !important;">
            <h1 class="text-white font-weight-lighter">Enzymatic Reaction Search</h1>
        </a>
        <ul class="nav">
            <li class="nav-item font-weight-lighter">
                <a class="nav-link font-weight-light active" href="/reactions">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-light" href="https://docs.chemaxon.com/display/docs/Reaction+fingerprint+RF" target="_blank">Documentation</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-light" href="http://www-rinchi.ch.cam.ac.uk" target="_blank">RInChI</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-light" href="mailto:venkat@ebi.ac.uk" target="_blank">Contact us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link font-weight-light" href="#" target="_blank">FAQ</a>
            </li>
        </ul>
    </div>

</head>
<body>
<div id="root" >
    <div v-if="results === ''">
        <div v-if= "isTextSearch" style="margin-left: 30%;margin-top: 10%;">
            <input type="text" v-model="textSearch" size="60" style="padding: 4.65px;">
            <button v-on:click=checkforstructures() class="btn btn-primary" style="margin-left:15px">Submit</button>
            <p class="small mt-1 font-italic">Examples: 1.2.3*, CHEBI:27732, RHEA:10001, *D-glucose*
                <button class="btn btn-link" v-on:click='toggleSearch' class="">Advanced Search</button></p>
        </div>
        <div v-else>
            <button class="btn btn-link" v-on:click='toggleSearch' class=""> <<< Text Search</button>
            <iframe id="ketcherFrame" style="width: 100%;height: 515px;border-style: none;box-shadow: 2px 2px 8px #444;"
                    name="ketcherFrame" src="/chebi/ketcher/ketcher.html" onload="loadStructure()" scrolling="no"></iframe>
            <div>
                <label for="searchBy">Search by</label>
                <select v-model="selected" id="searchBy">
                    <option disabled value=""></option>
                    <option value="reaction">Reaction</option>
                    <option value="mol">Structure</option>
                </select>

                <div v-if="selected === 'reaction'">
                    <input type="radio" value="exact" v-model="searchType" id="rxnone">
                    <label for="rxnone">Find this reaction</label></br>

                    <input type="radio" value="similar" v-model="searchType" id="rxntwo">
                    <label for="rxntwo">Find similiar reaction</label>

                    <div v-if="selected === 'reaction' && searchType ==='similar'">
                        <label for="rxntwotype">Similarity:</label>
                        <select v-model="simCoef" id="rxntwotype">
                            <option value="0.9">90%</option>
                            <option value="0.8">80%</option>
                            <option value="0.7">70%</option>
                            <option value="0.5">50%</option>
                            <option value="0.3">30%</option>
                        </select><br/>
                        <label for="sType">Similarity Type:</label>
                        <select v-model="simType" id="sType">
                            <option value="strict">Strict</option>
                            <option value="medium">Medium</option>
                            <option value="coarse">Coarse</option>
                            <option value="reactant">Reactant</option>
                            <option value="product">Product</option>
                        </select>
                        <img src="images/info.png" onmouseover="document.getElementById('simInfo').style.visibility='visible'"
                             onmouseout="document.getElementById('simInfo').style.visibility='hidden'" />
                        <img src="images/simInfo.png" id="simInfo"
                             style="visibility:hidden;position: relative;margin-top: -675px;box-shadow: 2px 2px 8px #444;"/>
                    </div>
                </div>
                <div v-else-if="selected === 'mol'">
                    <input type="radio" value="exact" v-model="searchType" id="one">
                    <label for="one">Find this structure</label></br>

                    <input type="radio" value="substructure" v-model="searchType" id="two">
                    <label for="two">Find structure which contain this structure</label></br>

                    <input type="radio" value="similar" v-model="searchType" id="three">
                    <label for="three">Find structure which resemble this structure</label>

                    <div v-if="selected === 'mol' && searchType ==='similar'">
                        <label for="four">Similarity:</label>
                        <select v-model="simCoef" id="four">
                            <option value="0.9">90%</option>
                            <option value="0.8">80%</option>
                            <option value="0.7">70%</option>
                            <option value="0.5">50%</option>
                            <option value="0.3">30%</option>
                        </select><br/>
                    </div>
                </div>

                <div><button v-on:click=checkforstructures() class="btn btn-primary">Submit</button></div>
            </div>
        </div>

        <div class="text-center loading" v-bind:class="[isLoading ? 'visible' :'invisible']">
            <p class="loading">Searching, please wait... </br>
                <img class="mt-1" src="/chebi/ketcher/loading.gif" align="middle" border="0"/></p>
        </div>
    </div>

    <div v-if="noResult">
        <b>Sorry no results found for your query, please try another query.</b>
    </div>

    <div v-if="resultList.length > 0 " >
        <div><button v-on:click=editSearch() class="btn btn-primary">Edit Search</button></div>

        Found  {{resultList.length}} results showing {{getStartCount}} to {{getShowCount}}.

        <p><button v-on:click="next"  v-if="resultList.length > showCount" class="btn btn-primary btn-sm"> next</button>
            <button v-on:click="back" v-if="startCount != 0" class="btn btn-primary btn-sm">back</button></p>
        <template v-if="selected === 'mol'">
            <template v-for="(reactionResult, index) in compoundResultArray" v-if="index >= startCount && index < showCount">
                <div class="row">
                    <template v-for="comp in reactionResult">
                        <result-comp v-bind:id="comp.id"
                                     v-bind:title="comp.name"
                                     v-bind:index="index"
                                     v-bind:coeff="comp.coeff">
                        </result-comp>
                    </template>
                </div>
            </template>

        </template>

        <template v-else>
            <div class="row">
                <div class="col-md-auto " style="padding: 2px !important;">
                    <div class="col" style="padding-top: 3px !important;">
                        <div class="bg-light border text-center font-weight-bold" >ChEBI ID</div>
                        <div class="border mt-1 text-left"><template v-for="chebiId in chebiIds">
                            <input type="checkbox" v-bind:id="chebiId" v-bind:value="chebiId"
                                   v-model="checkedChebiIds">  <span v-bind:id="chebiId" onmouseover="getChEBIData(event)" onmouseout="clearChEBIData()">{{chebiId}}</span></br></template>
                        </div>
                    </div>
                    <div class="col" v-if="ecNos.length > 0 ">
                        <div class="bg-light border text-center font-weight-bold">EC NOS</div>
                        <div class="border mt-1 text-left">
                            <template v-for="ecNo in ecNos">
                                <input type="checkbox" v-bind:id="ecNo" v-bind:value="ecNo"
                                       v-model="checkedEcNos"> {{ecNo}}</br>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="col" style="padding-left: 0px !important;">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Rhea ID</th>
                            <th scope="col">Reaction</th>
                            <th scope="col">ChEBI ID</th>
                            <th scope="col">Ec Nos</th>
                            <th v-if="selected === 'reaction' && searchType === 'similar'" scope="col">Tanimoto</th>
                        </tr>
                        </thead>
                        <tbody>
                        <template v-for="(reactionResult, index) in resultList" v-if="index >= startCount && index < showCount">
                            <result-rxn v-bind:id="reactionResult.id"
                                        v-bind:index="index"
                                        v-bind:chebi-ids="reactionResult.chebiIds"
                                        v-bind:ec-Nos="reactionResult.ecNos"
                                        v-bind:coeff="reactionResult.coeff"
                                        v-bind:rxn-file="reactionResult.rxnFile"></result-rxn>
                        </template>
                        </tbody>
                    </table>
                </div>
            </div>

            <div id="biojsContainer">
                <div id="biojsDiv" class="bg-light shadow-lg">
                </div>
            </div>

        </template>

    </div>

</div>
<script src="https://unpkg.com/vue@2.6.11/dist/vue.js"></script>
<script type="text/javascript">

    function loadStructure() {
        document.getElementById('ketcherFrame').contentWindow.ketcher.setMolecule(vue.rxnFile);
    }

    function loadRxnResult(id) {
        const iframe = document.getElementById(id).contentWindow;
        const mol = _.find(vue.results, result => result.id === id.toString()).rxnFile;
        iframe.ketcher.setMolecule(mol);
        if(mol.length > 2500 && mol.length < 4000) {
            iframe.ui.render.setZoom(0.8);
            iframe.zoom_list.selectedIndex = iframe.ui.zoomValues.indexOf(0.8);
        } else if(mol.length > 4000 && mol.length < 6000) {
            iframe.ui.render.setZoom(0.6);
            iframe.zoom_list.selectedIndex = iframe.ui.zoomValues.indexOf(0.6);
        } else if(mol.length > 6000) {
            iframe.ui.render.setZoom(0.4);
            iframe.zoom_list.selectedIndex = iframe.ui.zoomValues.indexOf(0.4);
        }
    }

    Vue.component('result-comp', {
        props: ['title', 'id', 'coeff'],
        computed: {
            imageLink: function() {
                return  "https://www.ebi.ac.uk/chebi/displayImage.do?defaultImage=true&imageIndex=0&chebiId="+this.id+"&dimensions=200";
            },
            link: function() {
                return "https://www.ebi.ac.uk/chebi/searchId.do?chebiId="+this.id;
            },
            showTanimoto: function() {
                return this.$parent.searchType === "similar";
            },
            findReactions: function() {
                this.$parent.reset();
                this.$parent.textSearch = this.id;
                this.$parent.checkforstructures();
            }

        },
        template:
        // '<div class="col-sm-3 border border-grey rounded-lg text-center"> '+
        '<div class="col-sm-3"> '+
        '<img :src=imageLink class="border border-grey rounded-lg"/> </br>' +
        '<a :href=link target="_blank">{{ id }}</a> </br>'+
        ' Name:     {{ title }}   </br>' +
        '<span v-if=showTanimoto> Tanimoto: {{coeff}}</br></span> ' +
        '<button v-on:click=$emit(findReactions) class="btn btn-sm btn-primary"> Find reactions</button>' +
        '</div>'
    });



    Vue.component('result-rxn',{
        props:['id','chebiIds', 'ecNos','rxnFile', 'coeff'],
        computed: {
            rheaLink: function(){
                return "<a href=\"https://www.rhea-db.org/reaction?id="+this.id+"\" target=\"_blank\">RHEA:"+this.id+"</a>" ;
            },
            chebiLink: function(){
                let links ="";
                for (let chebiId of this.chebiIds){
                    links =
                        links + "<a href=\"https://www.ebi.ac.uk/chebi/searchId.do?chebiId=CHEBI:"+chebiId+"\" target=\"_blank\" id=CHEBI:"+chebiId+" onmouseover=\"getChEBIData(event)\" onmouseout=\"clearChEBIData()\">CHEBI:"+chebiId+"</a></br>";
                }
                return links;
            },
            ecLink: function(){
                let links = "";
                for (let ecNo of this.ecNos){
                    links = links + "<a href=\"https://www.ebi.ac.uk/intenz/query?cmd=SearchEC&ec=" + ecNo + "\""
                        +" target=\"_blank\" \> EC " + ecNo + "</a></br>";}
                return links;
            }
        },

        template:
        '<tr>'+
        '<td class="sm-col" v-html=rheaLink></td>' +
        '<td class="col"><iframe-rxn v-bind:id="id" v-bind:rxn-file="rxnFile"></iframe-rxn></td>' +
        '<td class="sm-col" v-html=chebiLink></td>' +
        '<td class="sm-col" v-html=ecLink></td>' +
        '<td v-if="coeff > 0"> {{coeff}}</td>'    +
        '</tr>'
    });

    Vue.component('iframe-rxn',{
        props:['id','rxnFile'],
        computed: {
            iframeId: function () {
                if(this.$el !== undefined)
                    this.$el.childNodes[0].remove();
                return "<iframe src=\"/chebi/ketcher/ketcher_reaction.html\" id="+this.id+" onload=loadRxnResult("+this.id+") style=\"width: 100%;height: 365px;border-style: none;box-shadow: 2px 2px 8px #444;\" scrolling=\"no\"></iframe>";
            }
        },
        template:
            '<div v-html=iframeId></div>'
    });

    var vue = new Vue({

        el: '#root',
        data: {
            selected: '',
            searchType:'',
            simCoef:'',
            simType:'',
            textSearch:'',
            results: '',
            startCount: 0,
            noResult: false,
            checkedChebiIds: [],
            checkedEcNos:[],
            isLoading:false,
            isTextSearch :true,
            rxnFile: ''

        },
        methods: {
            editSearch: function() {
                this.results = '';
                this.isLoading = false;
            },
            toggleSearch: function() {
                if(this.rxnFile.length > 0 || this.textSearch.length > 0){
                    this.rxnFile = '';
                    this.textSearch = '';
                    this.simType = '';
                    this.selected =  '';
                    this.simCoef = '';
                    this.searchType = '';
                }
                this.isTextSearch = !this.isTextSearch;
            },
            checkforstructures:function() {
                this.isLoading = true;

                if(this.textSearch.trim() !=  ''){
                    return searchById(this.textSearch);
                }

                if(document.getElementById("ketcherFrame") != null){
                    let mol = document.getElementById("ketcherFrame").contentWindow.ketcher.getMolfile();
                    // .replace(/\n/g, "//////");

                    if (document.getElementById("ketcherFrame").contentWindow.ketcher.getSmiles().length != 0 ) {
                        this.rxnFile = mol;
                        if (mol.indexOf("$RXN") !== -1) {
                            return search(mol, this.searchType, this.simCoef, this.simType);
                        } else {
                            return searchMol(mol, this.searchType, this.simCoef );
                        }
                    }
                }
            },
            next: function() {
                this.startCount = this.startCount + this.viewCount;
            },
            back: function () {
                this.startCount = this.startCount - this.viewCount;
            },
            reset: function (){
                this.selected =  '';
                this.searchType ='';
                this.simCoef = '';
                this.simType = '';
                this.textSearch = '';
                this.results =  '';
                this.startCount =  0;
                this.noResult =  false;
                this.checkedChebiIds = [];
                this.checkedEcNos =[];
                this.isLoading = false;
                this.isTextSearch = true;
                this.rxnFile ='';
            }

        },
        computed: {
            viewCount: function() {
                if(this.selected === "mol")
                    return 5;
                else
                    return 10;
            },
            viewCountItems: function() {
                if(this.selected === "mol")
                    return this.viewCount*4;
                else
                    return this.viewCount;
            },

            getStartCount: function() {
                if(this.selected === "mol")
                    return this.startCount*4+1;
                else
                    return this.startCount+1;
            },
            getShowCount:function() {
                return this.getStartCount-1 + this.viewCountItems > this.resultList.length ? this.resultList.length :
                    this.getStartCount-1 + this.viewCountItems;
            },

            showCount:function() {
                return this.startCount + this.viewCount > this.resultList.length ? this.resultList.length :
                    this.startCount + this.viewCount;
            },
            compoundResultArray: function() {
                if(this.selected === "mol")
                    return _.chunk(this.resultList, 4);
            },
            chebiIds: function () {
                return _(this.results)
                    .flatMap(f => f.chebiIds)
                    .sortBy(f => f)
                    .sortedUniq()
                    .value();
            },
            ecNos: function() {
                return _(this.results)
                    .flatMap(f => f.ecNos)
                    .sortBy(f => f)
                    .sortedUniq()
                    .value();
            },
            resultList: function() {
                if(this.checkedChebiIds.length === 0 && this.checkedEcNos.length === 0 )
                    return this.results;

                let selectedChebiResults =[];
                if(this.checkedChebiIds.length > 0)
                    selectedChebiResults = this.results
                        .filter(s => s.chebiIds != null)
                        .filter(s => s.chebiIds.some(id => this.checkedChebiIds.includes(id)));

                let selectedEcResults =[];
                if(this.checkedEcNos.length > 0)
                    selectedEcResults = this.results
                        .filter(s => s.ecNos != null)
                        .filter(s => s.ecNos.some(id => this.checkedEcNos.includes(id)));

                let resultList = _.concat(selectedChebiResults, selectedEcResults).filter(value => value !== "");
                return _.uniq(resultList);

            }
        }
    });

</script>


</body>
</html>
